@(posts: List[Post])

@main("News") {

    <script>
        function del(urlToDelete) {
            $.ajax({
                url: urlToDelete,
                type: 'DELETE',
                success: function(results) {
                    // Refresh the page
                    location.reload();
                }
            });
        }
    </script>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>text</th>
            </tr>
        </thead>
        <tbody>
        @for(post <- posts){
            <tr>
                <td><a href="@routes.News.details(post.id)">
                @post.id
                </a></td>
                <td>
                @post.title</td>
                <td>
                @post.text</td>
                <td>
                    <a href="@routes.News.details(post.id)">
                        <i class="glyphicon glyphicon-pencil"></i></a>
                    <a onclick="del('@routes.News.delete(post.id)')">
                        <i class="glyphicon glyphicon-remove"></i></a>
            </tr>
        }
        </tbody>
    </table>

    <a href="@routes.News.add()" class="btn btn-info">
        <i class="icon-plus"></i> New product</a>
}

